#topPanel {
    -fx-background-color: #17AD61;
}

#lblProfileName, #lblTeamName {
    -fx-text-fill: #fff;
}


#btnSave {
    -fx-background-radius: 0em;
    -fx-background-color: #fff;
    -fx-border-color: #a8a8a8;
    -fx-text-fill: #3e3e3e;
    -fx-cursor: hand; /* Optional: Change cursor to hand when hovering */
}

#btnSave:hover {
    -fx-background-color: #dadada; /* Change background color on hover */
    -fx-border-color: #a8a8a8; /* You can adjust border color on hover if needed */
    -fx-text-fill: #3e3e3e; /* You can adjust text color on hover if needed */
}

#txtFieldWorkingHours, #txtFieldUtilization, #txtFieldName, #txtFieldAnnualSalary, #txtFieldAnnualAmount, #txtFieldOverhead {
    -fx-background-radius: 0em;

}

#comboBoxCountry, #comboBoxType{
    -fx-background-radius: 0em;
}

