#btnNewProfile, #btnRemoveProfile, #btnEditProfile {
    -fx-background-radius: 0em;
    -fx-background-color: #fff;
    -fx-border-color: #a8a8a8;
    -fx-text-fill: #3e3e3e;
}

#lblProfiles {
    -fx-text-fill: #3e3e3e;
}

/* Style for all column headers */
#nameColumn,
#annualSalaryColumn,
#fixedAnnualAmountColumn,
#annualWorkingHoursColumn,
#overheadColumn,
#utilizationColumn,
#hourlyRateColumn {
    -fx-background-color: white;
}

#tblViewProfiles .column-header .label {
    -fx-text-fill: green;
}


